.navbar {
    justify-content: space-between;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0 !important;
}

span {
    padding-right: 2rem;
}

.mat-toolbar {
    background: #303030;
    color: #fff;
  }

  a {
    text-decoration: none;
}
a:link, a:visited {
    color:#008080;
}