img {
    width : 25%;
    height: auto; 
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; }
.centered {
    text-align: center;
    min-height: auto;
}
ul {
    list-style-position: inside;
}