<div class="centered">
  <div><h1> Cole Bright</h1></div>
  <div>Coding <mat-icon>code</mat-icon></div>
  <div>
    Calisthenics <mat-icon>self_improvement</mat-icon>
  </div>
  <div>
    Creations <mat-icon>piano</mat-icon>
  </div>

  <div>
    <img class="displayed" src="/assets/images/Cropped.jpg" alt="image">
  </div>



<div>
  <h2>Relevant Coursework</h2>
  <ul>
    <li>A cross-platform registration mobile application using Xamarin and SQLite</li>
    <li>A web application using Blazor, Entity Framework, PostgreSQL, Azure, Auth0</li>
    <li>An inventory management application for desktop with WinForms (.NET) and MySQL</li>
    <li>A student roster console application using C++</li>
    <li>A scheduling application for desktop with WinForms (.NET)</li>
  </ul>

 </div>
</div>