<h1>CONFABULATIONS</h1>

  
  <div class="row">
      <div class="card">
        <h2>Work From Home Was Yes</h2>
        <h5> March 17, 2022</h5>
        <!-- <div class="fakeimg" style="height:200px;">Image</div> -->
        <p>Working from home with Infosys has saved me so much time and money that I otherwise would have
            spent in traffic. Being able to have lunch at home has facilitated me to be able to eat with my
            partner every day, as well as work on personal projects(like this one!).
        </p>
      </div>
  </div>
  